<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="4.1.51116" targetFramework="net461" />
  <package id="ASPNETJSUtils" version="1.0.0" targetFramework="net461" />
  <package id="Auditoria" version="1.0.0" targetFramework="net461" />
  <package id="Everilion.BD.ActivityType" version="1.0.0" targetFramework="net461" />
  <package id="Everilion.BD.Address" version="1.0.6" targetFramework="net461" />
  <package id="Everilion.BD.Center" version="1.2.1" targetFramework="net461" />
  <package id="Everilion.BD.Client" version="1.9.13" targetFramework="net461" />
  <package id="Everilion.BD.ConfigCompany" version="1.2.3" targetFramework="net461" />
  <package id="Everilion.BD.Currency" version="1.1.3" targetFramework="net461" />
  <package id="Everilion.BD.Enabler" version="2.1.68" targetFramework="net461" />
  <package id="Everilion.BD.EntityType" version="1.0.1" targetFramework="net461" />
  <package id="Everilion.BD.Generic" version="2.0.32" targetFramework="net461" />
  <package id="Everilion.BD.IVA" version="1.0.1" targetFramework="net461" />
  <package id="Everilion.BD.ListPrice" version="1.1.1.0" targetFramework="net461" />
  <package id="Everilion.BD.Network" version="1.0.0" targetFramework="net461" />
  <package id="Everilion.BD.POS" version="1.0.0" targetFramework="net461" />
  <package id="Everilion.BD.Product" version="1.7.20" targetFramework="net461" />
  <package id="Everilion.BD.Store" version="1.8.17" targetFramework="net461" />
  <package id="Everilion.BD.Warehouse" version="1.0.0" targetFramework="net461" />
  <package id="Everilion.BD.Zone" version="1.0.0" targetFramework="net461" />
  <package id="everilion-enabler-net-instance-service" version="3.0.40" targetFramework="net461" />
  <package id="everilion-erp-net-service-cross" version="1.10.16-SNAPSHOT2210201728" targetFramework="net461" />
  <package id="EverilionNetRedis" version="2.1.4" targetFramework="net461" />
  <package id="everilion-sql-data-model-all" version="1.0.2" targetFramework="net461" />
  <package id="Herramientas" version="1.0.0" targetFramework="net461" />
  <package id="Idiomas" version="1.0.1.0" targetFramework="net461" />
  <package id="Interfaz" version="1.1.1.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="3.6.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="ShareMasterPage" version="2.1.2" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.2.4" targetFramework="net461" />
  <package id="Transporte" version="1.0.1" targetFramework="net461" />
  <package id="WebConfig" version="1.0.0" targetFramework="net461" />
</packages>