<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"></sectionGroup>
    <section name="paypal" type="com.paypal.sdk.core.ConfigSectionHandler, paypal_base" />
  </configSections>
  <system.web>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <!-- 
   <sessionState
    mode="StateServer"  stateConnectionString="tcpip=localhost:42424"
       cookieless="false"
       timeout="20"  />-->
    <!-- Timeout del servidor y tamano maximo del fichero a subir -->
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" executionTimeout="300" maxRequestLength="20480" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.6.1" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Bind.axd" verb="*" type="ASPNETChat.Handlers.Bind, MangoChat" validate="false" />
      <add path="Poll.axd" verb="*" type="ASPNETChat.Handlers.ChatController, MangoChat" validate="false" />
      <add path="ChatPhoto.axd" verb="*" type="ASPNETChat.Handlers.ChatPhoto, MangoChat" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms name="cookie" loginUrl="fallo.aspx" />
    </authentication>
    <customErrors mode="Off" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.0 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AntiXssLibrary" publicKeyToken="d127efab8a9c114f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <probing privatePath="bin;bin/CetelSistemas;bin/Konesh;bin/UA;bin/SiteChile;bin/everisvl;bin/languages" />
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="OrigenASP" value="http://heraeveriliondev.cloudapp.net/ilion" />
    <add key="CarpetaProduccion" value="ilion" />
    <add key="IPGlobal" value="168.63.10.133" />
    <add key="MDWIPGlobal" value="168.63.10.133" />
    <add key="CarpetaProduccionNET" value="ilionX" />
    <add key="CarpetaProduccionNET4" value="ilionX4" />
    <add key="ProductionSholderMobile" value="ilionm" />
    <add key="SCronos.Service" value="http://heraeveriliondev.cloudapp.net/IlionServices/cronos/Service.asmx" />
    <add key="SCronos" value="IlionServices/cronos/Service.asmx" />
    <add key="URLSERVINF" value="/ReportServerH/Pages/ReportViewer.aspx" />
    <add key="XBRLTranform" value="http://localhost:8081/SWxbrl/services/PGCWSTransformator?wsdl" />
    <add key="DECPOR" value="2" />
    <add key="VirtualXenta" value="IlionServices/virtualxenta/virtualxenta.asmx" />
    <add key="Descarga" value="uploads" />
    <add key="SWKonesh" value="https://50.56.65.99:8443/axis2/services/ProcesaCFD?wsdl" />
    <add key="SWKoneshUser" value="prabath" />
    <add key="SWKoneshPwd" value="prabath2011$" />
    <add key="certificado" value="d:\SITE\certificados\50.56.65.99SSLIlion.cer" />
    <add key="certificado_pass" value="konesh01" />
    <add key="SWBidimensional" value="http://heraeveriliondev.cloudapp.net/IlionServices/MXCodigoBi/CodigoBi.asmx" />
    <add key="ASPNETChatControl.DAL.SqlServer.DSN" value="Data Source=HADES;Initial Catalog=ilion_egesticetTerra;Persist Security Info=True;User ID=entrada;Password=entrada" />
    <add key="MDW_WebService" value="http://heraeveriliondev.cloudapp.net/IlionServices4/MDW/WS.svc" />
    <add key="DATA" value="PNSQL2005Data" />
    <add key="LanFolder" value="bin\languages\" />
    <add key="StyFolder" value="App_GlobalResources\" />
  </appSettings>
  <connectionStrings>
    <add name="Principal.ilionDSN" connectionString="Data Source=REPSOT03WDBE01-vpn;Initial Catalog=ilion_admin;Persist Security Info=True;User Id=ilionlistados;Password=preilionlistados2009;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <location path="mantenersesion.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>